{% extends 'base.html' %}
{% load static %}
{% block title %}
Unassist | index
{% endblock title %}

{% block content %}
<!-- main header -->

<!-- main header END -->
</header>
<!-- header END -->
<!-- Content -->
<div class="page-content bg-white">
	<!-- inner page banner -->
	<div class="bnr-inr bg-pt" style="background-image:url(images/banner/bnr1.jpg);">
		<div class="container">
			<div class="bnr-inr-entry">
				<h1>Financial planning</h1>
				<!-- Breadcrumb row -->
				<div class="breadcrumb-row">
					<ul class="list-inline">
						<li><a href="#">Home</a></li>
						<li>Financial planning</li>
					</ul>
				</div>
				<!-- Breadcrumb row END -->
			</div>
		</div>
	</div>
	<!-- inner page banner END -->
	<!-- contact area -->
	<div class="content-block">
		<div class="section-full content-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4">
						<div class="sticky-top">
							<ul class="service-list m-b30">
								<li class="active"><a href="service-financial-planning.html">Financial Planning </a>
								</li>
								<li><a href="service-software-and-research.html">Software & Research</a></li>
								<li><a href="service-business-services.html">Business Services </a></li>
								<li><a href="service-quality-resourcing.html">Quality Resourcing </a></li>
								<li><a href="service-travel-and-aviation.html">Travel and Aviation</a></li>
								<li><a href="service-healthcare-services.html">Healthcare Services</a></li>
							</ul>
							<div class="download-brochure m-b30 ">
								<h4>Brochure</h4>
								<p>Working from home meant we could vary snack and coffee breaks.</p>
								<a href="#" class="site-button">Download PDF</a>
							</div>
							<div class="service-help bg-primary m-b30 text-center">
								<i class="flaticon-communications"></i>
								<h4>Let's help you!</h4>
								<ul>
									<li>Minh City, Vietnam</li>
									<li>0800-123456</li>
									<li>example@demo.com</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-8">
						<h2 class="m-t0 m-b10 fw6">Financial Planning</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
							laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
							voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						<div class="row">
							<div class="col-lg-4 col-md-6 col-sm-6">
								<div class="box-bg m-b30 box-hover"
									style="background-image: url(images/our-work/pic1.jpg)">
									<div class="icon-bx-wraper center p-lr20 p-tb30">
										<div class="text-primary m-b30">
											<span class="icon-cell icon-xl"><i class="flaticon-computer"></i></span>
										</div>
										<div class="icon-content">
											<h5 class="tilte">Business</h5>
											<p>Lorem Ipsum is simply dummy text of the printing and type setting
												industry.Lorem Ipsum is simply dummy text.</p>
										</div>
										<a href="#" class="site-button-link border-link">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6">
								<div class="box-bg m-b30 box-hover"
									style="background-image: url(images/our-work/pic2.jpg)">
									<div class="icon-bx-wraper center p-lr20 p-tb30">
										<div class="text-primary m-b30">
											<span class="icon-cell icon-xl"><i class="flaticon-support"></i></span>
										</div>
										<div class="icon-content">
											<h5 class="tilte">Consulting</h5>
											<p>Lorem Ipsum is simply dummy text of the printing and type setting
												industry.Lorem Ipsum is simply dummy text.</p>
										</div>
										<a href="#" class="site-button-link border-link">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-12 col-sm-12">
								<div class="box-bg m-b30 box-hover active"
									style="background-image: url(images/our-work/pic3.jpg)">
									<div class="icon-bx-wraper center p-lr20 p-tb30">
										<div class="text-primary m-b30">
											<span class="icon-cell icon-xl"><i class="flaticon-process"></i></span>
										</div>
										<div class="icon-content">
											<h5 class="tilte">Finance</h5>
											<p>Lorem Ipsum is simply dummy text of the printing and type setting
												industry.Lorem Ipsum is simply dummy text.</p>
										</div>
										<a href="#" class="site-button-link border-link">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<img src="images/about/services.jpg" class="m-b20" alt="" />
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
							laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
							voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						<p class="m-b40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
							exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
							in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						<div class="row m-b50">
							<div class="col-lg-6 col-md-12 m-b30">
								<div class="icon-bx-wraper bx-style-1 p-a20 left ho-box-">
									<div class="icon-lg text-primary m-b20"> <a href="#"
											class="icon-cell text-primary"><i class="flaticon-analysis"></i></a> </div>
									<div class="icon-content">
										<h4 class="tilte">Analyze Your Business</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
										</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="icon-bx-wraper bx-style-1 p-a20 left">
									<div class="icon-lg text-primary m-b20"> <a href="#"
											class="icon-cell text-primary"><i class="flaticon-development"></i></a>
									</div>
									<div class="icon-content">
										<h4 class="tilte">Business Strategies</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-lg-12">
								<canvas id="canvas"></canvas>
							</div>
						</div>
						<div class="m-tb40">
							<div class="accordion no-gap" id="accordion1">
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title">
											<a href="#" data-toggle="collapse" data-target="#faq1" class=""
												aria-expanded="true">
												1. Web design aorem apsum dolor sit amet?</a>
										</h6>
									</div>
									<div id="faq1" class="acod-body collapse show" data-parent="#accordion1" style="">
										<div class="acod-content">Web design aorem apsum dolor sit amet, adipiscing
											elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat
											volutpat.</div>
									</div>
								</div>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title">
											<a href="#" data-toggle="collapse" data-target="#faq2" class="collapsed"
												aria-expanded="false">
												2. Graphic design aorem apsum dolor ?</a>
										</h6>
									</div>
									<div id="faq2" class="acod-body collapse" data-parent="#accordion1" style="">
										<div class="acod-content">Graphic design aorem apsum dolor sit amet, adipiscing
											elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat
											volutpat.</div>
									</div>
								</div>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title">
											<a href="#" data-toggle="collapse" data-target="#faq3" class="collapsed"
												aria-expanded="false">
												3. Developement aorem apsum dolor sit amet ? </a>
										</h6>
									</div>
									<div id="faq3" class="acod-body collapse" data-parent="#accordion1" style="">
										<div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing
											elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat
											volutpat.</div>
									</div>
								</div>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title">
											<a href="#" data-toggle="collapse" data-target="#faq4" class="collapsed"
												aria-expanded="false">
												4. True Responsiveness consectetuer adipiscing ? </a>
										</h6>
									</div>
									<div id="faq4" class="acod-body collapse" data-parent="#accordion1" style="">
										<div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing
											elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat
											volutpat.</div>
									</div>
								</div>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title">
											<a href="#" data-toggle="collapse" data-target="#faq5" class="collapsed"
												aria-expanded="false">
												5. Claritas est etiam processus ?</a>
										</h6>
									</div>
									<div id="faq5" class="acod-body collapse" data-parent="#accordion1" style="">
										<div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing
											elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat
											volutpat.</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6 col-md-6">
								<ul class="list-check primary">
									<li>Amet Sollicitudin Quam Dolor Mollis</li>
									<li>Diipiscing Vestibulum Nullam Venenatis</li>
									<li>Diipiscing Vestibulum</li>
									<li>Vehicula Vulputate Ligula Mollis</li>
								</ul>
							</div>
							<div class="col-lg-6 col-md-6">
								<ul class="list-check primary">
									<li>Amet Sollicitudin Quam Dolor Mollis</li>
									<li>Diipiscing Vestibulum Nullam</li>
									<li>Diipiscing Vestibulum Nullam Venenatis</li>
									<li>Vehicula Vulputate</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- contact area END -->
</div>
<!-- Content END-->
<!-- Footer -->
{% endblock content %}

{% block script %}
<script>
	var randomScalingFactor = function () {
		return Math.round(Math.random() * 50 * (Math.random() > 0.5 ? 1 : 1)) + 50;
	};

	var config = {
		type: 'line',
		data: {
			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
			datasets: [{
				label: 'My First dataset',
				fill: false,
				borderColor: window.chartColors.red,
				backgroundColor: window.chartColors.red,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				]
			}, {
				label: 'My Second dataset',
				fill: false,
				borderColor: window.chartColors.blue,
				backgroundColor: window.chartColors.blue,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				]
			}]
		},
		options: {
			responsive: true,
			title: {
				display: true,
				text: 'Chart.js Line Chart - X-Axis Filter'
			},
			scales: {
				xAxes: [{
					display: true,
					ticks: {
						callback: function (dataLabel, index) {
							// Hide the label of every 2nd dataset. return null to hide the grid line too
							return index % 2 === 0 ? dataLabel : '';
						}
					}
				}],
				yAxes: [{
					display: true,
					beginAtZero: false
				}]
			}
		}
	};

	window.onload = function () {
		var ctx = document.getElementById('canvas').getContext('2d');
		window.myLine = new Chart(ctx, config);
	};
</script>

{% endblock script %}