<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">

    <!-- FAVICONS ICON -->
    <!-- <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" /> -->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/skin/skin-1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/templete.css' %}">
    <!-- Revolution Slider Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/navigation.css' %}">
    <!-- Revolution Navigation Style -->

    <title>शिक्षासहयोग | home</title>
    <!-- PAGE TITLE HERE -->
</head>

<body>
        <div class="page-wraper">
        <div class="header-sticky menu-bar-content navbar-expand-lg">
            <div class="main-bar clearfix bg-primary">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="daz-logo mt-1">
                        <!-- <a href="index.html"><img src="{% static 'images/logo2.png' %}" alt=""></a> -->
                        <a href="{% url 'add' %}">
                            <h1>शिक्षासहयोग </h1>
                        </a>
                    </div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed menuicon justify-content-end" type="button"
                        data-toggle="collapse" data-target="#navbarLeft" aria-controls="navbarLeft"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- extra nav -->
                    <div class="secondary-nav">
                        <div class="secondary-cell">
                            <button id="daz-search-btn" type="button" class="site-button-link"><i
                                    class="fa fa-search"></i></button>

                        </div>
                    </div>
                    <!-- Quik search -->
                    <div class="daz-search bg-search">
                        <form action="#">
                            <input name="search" value="" type="text" class="form-control" placeholder="Type to search">
                            <span id="daz-search-remove"><i class="flaticon-cancel"></i></span>
                        </form>
                    </div>
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarLeft">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'add' %}">Home </a>
                            <li><a href="#">How to Apply <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="#" class="dez-page">CheckLists </a></li>
                                    <li><a href="#" class="dez-page">DeadLines & Processing Time </a></li>
                                    <li><a href="#" class="dez-page">Apply Online </a></li>
                                </ul>
                            </li>
                            </li>
                            <li><a href="#">Schooling <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a class="dez-page" href="{% url 'universities' %}">Universities </a>
                                    </li>
                                    <li><a class="dez-page" href="{% url 'colleges' %}">Colleges </a></li>
                                    <li><a class="dez-page" href="{% url 'schools' %}">Schools </a>
                                    </li>
                                    <li><a class="dez-page" href="{% url 'tution_centers' %}">Tution Centers </a>
                                    </li>
                                    <li><a class="dez-page" href="{% url 'training_centers' %}">Training Centers </a>
                                    </li>
                                    <li><a class="dez-page" href="{% url 'montessoris' %}">Montessori </a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Study Abroad <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="#" class="dez-page">USA </a></li>
                                    <li><a href="#" class="dez-page">CANADA </a></li>
                                    <li><a href="#" class="dez-page">AUSTRALIA </a></li>
                                    <li><a href="#" class="dez-page">GERMANY </a></li>
                                    <li><a href="#" class="dez-page">INDIA </a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">About <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="#">About Us </a></li>
                                    <li><a href="#">Our Promises </a></li>
                                    <li><a href="#" class="dez-page">Events </a></li>
                                    <li><a href="#" class="dez-page">Announcements </a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'contact_page' %}" class="dez-page">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- For main content  -->
        {% block content %}
        {% endblock content %}


        <!-- Footer -->
        <footer class="daz-footer text-uppercase daz-footer-img">
            <div class="footer-top">
                <div class="container saf-footer">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 col-sm-6 footer-col-4">
                            <div class="widget widget_getintuch">
                                <h5 class="m-b30 text-white ">Contact us</h5>
                                <ul>
                                    <li><i class="ti-location-pin"></i><strong>address</strong> Itahari - 4, Sunsari |
                                        Nepal
                                    </li>
                                    <li><i class="ti-mobile"></i><strong>phone</strong>9810452566 (24/7 Support Line)
                                    </li>
                                    <li><i class="ti-email"></i><strong>email</strong>TYOinvoTech.com</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 col-sm-6 col-5 footer-col-4">
                            <div class="widget widget_services border-0">
                                <h5 class="m-b30 text-white">Company</h5>
                                <ul>
                                    <li><a href="#">Home </a></li>
                                    <li><a href="#">How to Apply </a></li>
                                    <li><a href="#">Schooling </a></li>
                                    <li><a href="#">Study Abroad </a></li>
                                    <li><a href="#">Contact Us </a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 col-sm-6 col-7 footer-col-4">
                            <div class="widget widget_services border-0">
                                <h5 class="m-b30 text-white">Useful Link</h5>
                                <ul>
                                    <li><a href="#">Our Philosophy </a></li>
                                    <li><a href="#">Resources </a></li>
                                    <li><a href="#">Portfolio</a></li>
                                    <li><a href="#">Some other Links </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-sm-6 footer-col-4">
                            <div class="widget widget_gallery gallery-grid-4">
                                <h5 class="m-b30 text-white">Gallery</h5>
                                <ul>
                                    <li class="img-effect2"> <a href="javascript:void(0);"><img
                                                src="{% static 'images/gallery/pic1.jpg' %}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="javascript:void(0);"><img
                                                src="{% static 'images/gallery/pic2.jpg' %}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="javascript:void(0);"><img
                                                src="{% static 'images/gallery/pic3.jpg' %}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="javascript:void(0);"><img
                                                src="{% static 'images/gallery/pic4.jpg' %}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="javascript:void(0);"><img
                                                src="{% static 'images/gallery/pic5.jpg' %}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="javascript:void(0);"><img
                                                src="{% static 'images/gallery/pic6.jpg' %}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="javascript:void(0);"><img
                                                src="{% static 'images/gallery/pic7.jpg' %}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="javascript:void(0);"><img
                                                src="{% static 'images/gallery/pic8.jpg' %}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="javascript:void(0);"><img
                                                src="{% static 'images/gallery/pic9.jpg' %}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="javascript:void(0);"><img
                                                src="{% static 'images/gallery/pic1.jpg' %}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="javascript:void(0);"><img
                                                src="{% static 'images/gallery/pic2.jpg' %}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="javascript:void(0);"><img
                                                src="{% static 'images/gallery/pic3.jpg' %}" alt=""></a> </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- footer bottom part -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 text-left "> <span>Copyright © 2020 TYOinvoTech</span> </div>
                        <div class="col-md-6 col-sm-6 text-right ">
                            <div class="widget-link ">
                                <ul>
                                    <li><a href="#"> Help Desk</a></li>
                                    <li><a href="#"> Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer END-->
        <button class="scroltop fa fa-chevron-up"></button>



    {% block script %}    
    {% endblock script %}    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type='text/css'
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="{% static 'js/semantic.js'%}"></script>



    <!-- JAVASCRIPT FILES ========================================= -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
    <script src="{% static 'plugins/wow/wow.js' %}"></script><!-- WOW JS -->
    <script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script><!-- FORM JS -->
    <script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
    <script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS -->
    <script src="{% static 'plugins/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
    <script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED -->
    <script src="{% static 'plugins/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
    <script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script><!-- MASONRY -->
    <script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script><!-- MASONRY -->
    <script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script><!-- OWL SLIDER -->
    <script src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->
    <script src="{% static 'js/carousel.js' %}"></script><!-- SORTCODE FUCTIONS  -->

    <script src="{% static 'js/ajax.js' %}"></script><!-- CONTACT JS  -->
    <script src="{% static 'plugins/chart/Chart.bundle.js' %}"></script>
    <script src="{% static 'plugins/chart/utils.js' %}"></script>
    <!-- revolution JS FILES -->
    <script src="{% static 'plugins/revolution/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script
        src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script
        src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script
        src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script
        src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script
        src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script
        src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script
        src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script
        src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
    <script src="{% static 'js/rev.slider.js' %}"></script>

    <script>
        jQuery(document).ready(function () {
            'use strict';
            dz_rev_slider_1();
        });	/*ready*/
    </script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script> -->

</body>

</html>